*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #f7f7f7;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #9c9b9b;
    background-color: #ccc;
    width: 700px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}

#searchInput{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 50%;
    outline: none;
}

.search label {
    height: 20px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.card p{
    text-align: center;
}

@media screen and (max-width: 768px) {
    .search {
        width: 80%;
    }
}